<div class="row" style="background: white">
  <div class="container" style="width: 63%;">
    <div style="padding:0.75rem 1.25rem">
      <div class="container">
        <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <app-miga-pan [items]="migaPan"></app-miga-pan>
        </div>
      </div>
      <div style="display:flex">
        <img src="../../../assets/iconos/star.svg" style="height: 35px; margin-right: 10px;" />
        <div class="titulo">RANKING </div>
       </div>
    </div>
  </div>
</div>
<div class="container" style="width: 63%;">
  <div style="background: #F2F5FA; margin-bottom: 20px;">
    <div class="container">

        <div id="configurar" style="padding:0.75rem 1.25rem">

            <ul class="nav nav-tabs" id="myTab" role="tablist" style="justify-content: space-between;">
                <li class="nav-item" role="presentation">
                    <a href="#intento1" class="nav-link active" id="intento1-tab" data-bs-toggle="tab" data-bs-target="#intento1" role="tab" aria-controls="intento1" aria-selected="true" data-Intento="1">Intento 1</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#intento2" class="nav-link" id="intento2-tab" data-bs-toggle="tab" data-bs-target="#intento2" role="tab" aria-controls="intento2" aria-selected="false" data-Intento="2">Intento 2</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#intento3" class="nav-link" id="intento3-tab" data-bs-toggle="tab" data-bs-target="#intento3" role="tab" aria-controls="intento3" aria-selected="false" data-Intento="3">Intento 3</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#intento4" class="nav-link" id="intento4-tab" data-bs-toggle="tab" data-bs-target="#intento4" role="tab" aria-controls="intento4" aria-selected="false" data-Intento="4">Intento 4</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#intento5" class="nav-link" id="intento5-tab" data-bs-toggle="tab" data-bs-target="#intento5" role="tab" aria-controls="intento5" aria-selected="false" data-Intento="5">Intento 5 a +</a>
                </li>
            </ul>
            <div class="tab-content" style="margin-top: 40px;">
                <div class="tab-pane active" id="intento1" role="tabpanel" aria-labelledby="intento1-tab">
                    <div id="Ranking1" class="row">
                    </div>
                    <br />
                </div>


                <div class="tab-pane fade" id="intento2" role="tabpanel" aria-labelledby="intento2-tab">
                    <div id="Ranking2" class="row">
                    </div>
                    <br />
                </div>

                <div class="tab-pane fade" id="intento3" role="tabpanel" aria-labelledby="intento3-tab">
                    <div id="Ranking3" class="row">
                    </div>
                    <br />
                </div>

                <div class="tab-pane fade" id="intento4" role="tabpanel" aria-labelledby="intento4-tab">
                    <div id="Ranking4" class="row">
                    </div>
                    <br />
                </div>

                <div class="tab-pane fade" id="intento5" role="tabpanel" aria-labelledby="intento5-tab">
                    <div id="Ranking5" class="row">
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
  </div>

</div>
