<div class="row" style="background: white">
  <div class="container" style="width: 63%;">
    <div style="padding:0.75rem 1.25rem">
      <div class="container">
        <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
          <app-miga-pan [items]="migaPan"></app-miga-pan>
        </div>
      </div>
      <div style="display:flex">
        <img src="../../../assets/iconos/save.svg" style="height: 35px; margin-right: 10px;" />
        <div class="titulo">SIMULACIONES GUARDADAS </div>
       </div>
    </div>
  </div>
</div>
<br>
<div class="container" style="width: 63%;">
  <!-- Simulaciones guardadas Modo Examen -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="subtitulo" style="text-align: left"><img src="../../../assets/iconos/ModoExamenSelect.svg" style="height: 30px;" />
          Modo Examen
        </div>
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
      No hay simulaciones guardadas.
    </div>
  </div>
  <br>
  <!-- Simulaciones guardadas Modo Entrenamiento -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="subtitulo" style="text-align: left"><img src="../../../assets/iconos/ModoEntrenamientoSelect.svg" style="height: 30px;" />
          Modo entrenamiento
        </div>
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
      No hay simulaciones guardadas.
    </div>
  </div>
  <br>
  <!-- Simulaciones guardadas Modo Estudio -->
  <div class="card" style="padding:30px;border-radius:20px;">
    <div class="card-body" style="border-radius: 20px 20px 0px 0px; padding-left: 15px;">
      <div class="float-left">
        <div class="subtitulo" style="text-align: left"><img src="../../../assets/iconos/ModoEstudioSelect.svg" style="height: 30px;" />
          Modo estudio
        </div>
      </div>
    </div>
    <div class="card-body" style="border-radius: 0px 0px 20px 20px;padding-top:0px;padding-bottom:0px; ">
      No hay simulaciones guardadas.
    </div>
  </div>

</div>

