.ContenidoDona {
  line-height: 120px;
  text-align: center;
  font-size: 50px;
  color: #0684f2;
  border-radius: 100%;
  position: absolute;
  margin-top: 23px;
  margin-left: 53px;
  font-weight: 700;
}
